{form taskFilterForm, class=>'ajax task-filter'}
    <div class="row">
        <div class="col-md-3">
            {label filter_task_text /}
            {input filter_task_text, class => 'form-control'}
        </div>
        <div class="col-lg-5">
            {input filter_task_submit, class => 'btn btn-primary'}
        </div>
    </div>
{/form}